<div class="search">
  <div (click)="setSearchFilters()" class="search-toggle">
    <div class="container">
      <div style="display: flex; align-items: center;">
        <h4>Search Property By Filter </h4>
        <span class="material-icons filter-icon">
          filter_list
          </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchFilters" class="container">
  <!-- <app-searchfilters></app-searchfilters> -->

  <div class="filter-list">
    <app-property 
     *ngFor="let property of properties" 
     [filterProperty]="property"
    ></app-property>
  </div>
  <div *ngIf="!properties" class="no-result">
    <h3>No Result Found</h3>
  </div>

</div>